{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/navbar.css')}}">
<script type="text/javascript" src="{{ url_for('static',filename='js/index.js')}}"></script>
{% endblock %}

{% block content %}
<div id="general" class="container" style="background-color: grey;">
    <h1 style="text-align:center; color:white">General News</h1>
    <ul>
        {{ macro.displayCategoryList(general) }}
    </ul>
</div>
<div id="tech" class="container">
    <h1 style="text-align:center; color:white" style="background-color: grey";>Technology News</h1>
    <ul>
      {{ macro.displayCategoryList(technology) }}
    </ul>
  </div>
  <div id = "tech" class="container">
        <h1 style="text-align:center; color:white" style="background-color: grey;">Business. News</h1>
    <ul>
      {{ macro.displayCategoryList(business) }}
    </ul>
  </div>
  <div id = "technology" class="container" style="background-color:  grey;">
    <h1 style=" text-align:center;
            color:white">Health. News</h1>
        <ul>
            {{ macro.displayCategoryList(health) }}
        </ul>
</div>
<div id="tech" class="container" style="background-color:  grey;">
    <h1 style=" text-align:center; color:white">Entertainment.
    News</h1>
    <ul>
        {{ macro.displayCategoryList(entertainment) }}
    </ul>
</div>
<div id="tech" class="container" style="background-color: grey;">
    <h1 style=" text-align:center; color:white">Sports.
    News</h1>
    <ul>
        {{ macro.displayCategoryList(sports) }}
    </ul>
</div>
{% endblock %}