<header style="background-image: url({{ url_for('static', filename='image/ht.jpg')}}); background-image:no-repeat;">
    <nav class="nav-fixed" role="navigation">
        <ul class="tabs primary-nav">
            <li class="tabs__item">
                <a href="/#home" class="tabs__link">Home</a>
            </li>
            
            <li class="tabs__item">
                <a href="/#general" class="tabs__link">General</a>
            </li>
            <li class="tabs__item">
                <a href="/#business" class="tabs__link">Business</a>
            </li>
            <li class="tabs__item">
                <a href="/#health" class="tabs__link">Health</a>
            </li>
            <li class="tabs__item">
                <a href="#/entertainment" class="tabs__link">Entertainment</a>
            </li>
            <li class="tabs__item">
                <a href="/#sports" class="tabs__link">Sports</a>
            </li>
        </ul>
    </nav>
</header>